.search-filter .combination-list {
  flex: 0 !important;
}
.combination-select-box select {
  min-width: 200px;
  width: 200px;
}
.combination-table-wrap {
  text-align: center;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}
.combination-table-wrap tr:last-child {
  background-color: #e9effe;
}

@media screen and (max-width: 1530px) {
  .combination-select-box select {
    min-width: 120px;
    width: 120px;
  }
}
