.scroll-body {
  overflow-y: auto;
  height: 100vh;
}

.dashboard-wrap {
  background: #e6e6ec;
}
.dashboard-table-flex {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 32px;
  background: #e6e6ec;
  padding: 0 154px 50px 154px;
}
.dashboard-table-wrap {
  border-radius: 4px;
  border: 1px solid #caced8;
  background: #fff;
  padding: 16px 28px;
  margin-top: 28px;
  height: 280px;
}
.h-396 {
  height: 396px !important;
}
.h-472 {
  height: 472px !important;
}

.dashboard-table-wrap .dashboard-title-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}
.dashboard-table-wrap .dashboard-title-top h2 {
  color: #373a46;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}
.dashboard-table-wrap .dashboard-title-top button {
  border-radius: 4px;
  background: #e8effe;
  padding: 4px;
}
.dashboard-table-wrap table {
  table-layout: fixed;
  border-bottom: none;
}
.dashboard-table-wrap table tbody tr:hover {
  background: #fff;
}
.dashboard-table-wrap table tbody tr.selected {
  background: #fff;
}
.dashboard-table-wrap table thead th {
  padding: 10px 25px;
  background: #e6e6ec;
  color: #6f7589;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  border-right: none;
  line-height: 16px;
  border-bottom: 1px solid #e0e2e9;
  text-align: justify;
}
.dashboard-table-wrap table thead .center {
  text-align: center;
  padding: 10px 0;
}
.dashboard-table-wrap table tbody td {
  padding: 10px 8px;
  color: #373a46;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  border: none;
  border-bottom: 1px solid #e0e2e9;
}
.dashboard-table-wrap table tbody .color {
  color: #334680;
  font-weight: 500;
}
.dashboard-table-wrap table tbody .empty {
  border-bottom: none;
}
.dashboard-table-wrap table tbody .empty .empty-box {
  padding: 38px 0 28px 0;
  text-align: center;
}
.dashboard-table-wrap table tbody .empty .empty-box img {
  width: 70px;
  height: 70px;
}
.dashboard-table-wrap table tbody .empty .empty-box p {
  color: #999ca7;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  margin-top: 8px;
}
@media screen and (max-width: 1890px) {
  .dashboard-table-wrap table thead th {
    padding: 10px 8px;
  }
}
@media screen and (max-width: 1650px) {
  .dashboard-table-flex {
    gap: 22px;
    padding: 0 30px;
  }
}
