.table-wrap {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}
.table-wrap table thead th img {
  margin-left: 4px;
}
.table-wrap table tbody tr:last-child {
  border-bottom: 1px solid #e0e2e9;
}
.table-wrap table tbody td {
  text-align: center;
}
.table-wrap table tbody td:first-child {
  max-width: 108px;
}
.table-wrap table tbody td:nth-child(2) {
  max-width: 148px;
}
.table-wrap table tbody td:last-child {
  border-right: none;
}
