.ledger-search-filter {
  flex-direction: column;
}
.ledger-list-box {
  display: flex;
}
.ledger-list-box:last-child {
  border-top: 1px solid #e0e2e9;
}
.ledger-flex {
  display: flex;
  align-items: center;
  gap: 0 8px;
}
.research-table-wrap {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  text-align: center;
}

.research-table-wrap table {
  border-bottom: none;
}
.research-table-wrap table tbody tr:last-child {
  background-color: #e9effe;
}
.research-table-wrap table tbody tr:last-child td {
  border-bottom: 1px solid #b4b9cc;
  border-top: 1px solid #b4b9cc;
  font-weight: 500;
}
.research-table-wrap table tbody td {
  max-width: 130px;
}
.research-select {
  width: 100%;
}
.research-select select {
  width: 100%;
}
.research-list-box {
  display: flex;
}
.research-list-box:nth-child(2) {
  border-top: 1px solid #e0e2e9;
  border-bottom: 1px solid #e0e2e9;
}

.date-input-box {
  border: 1px solid #b4b9cc;
  width: 100%;
  border-radius: 4px;
  display: flex;
}
.date-input-box span {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 0 12px;
  color: #6f7589;
  font-size: 14px;
  font-weight: 400;
  position: relative;
}
.date-input-box .start {
  border-right: 1px solid #b4b9cc;
}

.selected-date {
  flex: 0.7 !important;
}
.search-btn-box {
  background-color: #fff;
  display: flex;
  justify-content: end;
}
.search-btn-box .search-btn {
  padding-right: 8px;
}

@media screen and (max-width: 1530px) {
  .date-input-box span {
    font-size: 12px;
    padding: 0;
    justify-content: center;
  }
  .selected-date {
    flex: 1 !important;
  }
}
