.table-wrap {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}
.table-wrap table thead th img {
  margin-left: 4px;
}
.table-wrap table tbody tr:last-child {
  border-bottom: 1px solid #e0e2e9;
}
.table-wrap table tbody td {
  text-align: center;
}
.table-wrap table tbody td:first-child {
  max-width: 108px;
}
.table-wrap table tbody td:nth-child(2) {
  max-width: 148px;
}
.table-wrap table tbody td:last-child {
  border-right: none;
}

.total-wrap {
  margin-top: 12px;
  display: flex;
  align-items: center;
  gap: 0 20px;
  position: relative;
  white-space: nowrap;
  justify-content: center;
}
.total-wrap .total-box {
  display: flex;
  align-items: center;
  gap: 0 20px;
  position: absolute;
  left: 0;
}
.total-wrap .total {
  display: flex;
  gap: 0 16px;
}
.total-wrap .total p {
  color: #373a46;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.28px;
}
.total-wrap .total p span {
  font-weight: 600;
}
.total-wrap .total .page {
  display: flex;
  gap: 0 10px;
  position: relative;
}
.total-wrap .total .page::after {
  position: absolute;
  content: '';
  width: 1px;
  height: 12px;
  top: 50%;
  left: -8px;
  transform: translateY(-50%);
  background-color: #b4b9cc;
}
.total-wrap .total .page span {
  color: #2774e1;
  position: relative;
}
.total-wrap .total .page span:after {
  position: absolute;
  content: '/';
  right: -8px;
  color: #373a46;
}

@media screen and (max-width: 1280px) {
  .search-filter .list p {
    min-width: 80px;
    margin-right: 4px;
  }
}
