.hidden {
  display: none;
}

.nav-content-wrap::-webkit-scrollbar {
  display: none;
}
.nav-content-wrap .title {
  margin: 20px 0 0 0;
  color: #373a46;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 12px;
  border-bottom: 1px solid #e0e2e9;
}
.nav-content-wrap .list-box {
  margin-top: 20px;
  display: grid;
  gap: 36px;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}
.nav-content-wrap .accounting-list-box {
  grid-template-rows: 400px;
}
.nav-content-wrap .list-box .list {
  height: fit-content;
}

.nav-content-wrap .list p {
  color: #373a46;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  padding: 13px 0;
  border-bottom: 1.5px solid var(--Main-1, #2774e1);
}

.nav-content-wrap .list ul li {
  color: #373a46;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  position: relative;
  border-bottom: 1px solid #e0e2e9;
  cursor: pointer;
}
.nav-content-wrap .list ul li:after {
  position: absolute;
  content: '';
  left: 0;
  top: 20px;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background-color: #b4b9cc;
}
.nav-content-wrap .list ul li .click-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-content-wrap .list ul li .click-menu a:hover {
  background-color: #fff;
}
.nav-content-wrap .list ul li a .total {
  color: var(--Text-1, #373a46);
  border-bottom: none;
  font-size: 15px;
  font-weight: 500;
  line-height: 28px;
  margin-left: 20px;
  padding: 0;
}
.nav-content-wrap .list ul li a .total span {
  color: #2774e1;
}
.nav-content-wrap .list ul li .under-menu {
  background-color: #f6f6fa;
  padding-left: 12px;
  border-top: 1px solid #e0e2e9;
  position: relative;
  /* display: none; */
}

.nav-content-wrap .list ul li .under-menu::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 2px;
  left: 0;
  background-color: #f6f6fa;
}
.nav-content-wrap .list ul li .under-menu li {
  color: #555b6c;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  padding: 4px 0 4px 12px;
  border-bottom: none;
}
.nav-content-wrap .list ul li .under-menu li:hover {
  background-color: #f6f6fa;
}
.nav-content-wrap .list ul li .under-menu li:after {
  width: 4px;
  height: 2px;
  top: 17px;
  border-radius: 0;
}
.nav-content-wrap .list ul li a {
  display: flex;
  align-items: center;
  padding: 8px 0 8px 12px;
}
.nav-content-wrap .list ul li a:hover {
  background: #e8effe;
  color: #334680;
}
@media screen and (max-width: 1800px) {
  .nav-content-wrap .list-box {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
@media screen and (max-width: 1600px) {
  .nav-content-wrap .list-box {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .nav-content-wrap .accounting-list-box {
    grid-template-rows: auto;
  }
}
