.return-table-wrap {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}
.search-filter .checkpoint-list {
  flex: 0.7 !important;
}
.search-filter .return-combination-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-right: 8px;
  background-color: #fff;
}
.search-filter .list .combination-input-box {
  flex: 0.7;
}

@media screen and (max-width: 1530px) {
  .search-filter .list .combination-input-box {
    flex: 1;
  }
}
