.wrap {
  padding: 33px 30px 59px 30px;
}
.wrap .flex {
  display: flex;
  justify-content: end;
  position: relative;
}
.wrap .top {
  display: flex;
  gap: 0 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.wrap .top h1 {
  color: #373a46;
  font-size: 24px;
  font-weight: 700;
  line-height: 22px;
}
.wrap .top .year-month {
  display: flex;
}
.wrap .top .year-month button {
  margin: 0 12px 0 4px;
}
.wrap .select-wrap {
  display: flex;
  align-items: center;
  gap: 0 8px;
}
.wrap .select-wrap .my-btn {
  color: #2774e1;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  padding: 12px 19px;
  border-radius: 8px;
  background: rgba(74, 134, 247, 0.2);
}

.wrap .select-wrap .select-box select {
  border-radius: 8px;
  border: 1px solid #e4e4e4;
  background-color: #fff;
  padding: 12px;
  display: flex;
  gap: 0 4px;
  justify-content: space-between;
  align-items: center;
  min-width: 200px;
  width: 100%;
  text-align: left;
  cursor: pointer;
  color: #373a46;
  white-space: nowrap;
  appearance: none;
  -webkit-appearance: none;
  background-image: url(./images/icon-select-arrow.svg);
  background-repeat: no-repeat;
  background-position: top 50% right 12px;
  outline: none;
}
.wrap .calendar-table-wrap {
  margin-top: 28px;
}
.wrap .calendar-table-wrap table thead th {
  padding: 9px 0 15px 0;
  color: #555b6c;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  border-left: 1px solid #e0e2e9;
  border-top: 1px solid #e0e2e9;
  border-bottom: 1px solid #e0e2e9;
  background: #f6f6fa;
}
.wrap .calendar-table-wrap table thead th:first-child {
  color: #ff3b30;
  border-radius: 8px 0px 0px 0px;
}
.wrap .calendar-table-wrap table thead th:last-child {
  color: #2774e1;
  border-right: 1px solid #e0e2e9;
  border-radius: 0px 8px 0px 0px;
}
.wrap .calendar-table-wrap table tbody td {
  border-left: 1px solid #e0e2e9;
  border-bottom: 1px solid #e0e2e9;
  height: 120px;
  padding: 12px;
  vertical-align: baseline;
  color: #373a46;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
}
.wrap .calendar-table-wrap table tbody td:first-child p {
  color: #ff3b30;
}
.wrap .calendar-table-wrap table tbody td:last-child {
  color: #2774e1;
  border-right: 1px solid #e0e2e9;
}
.wrap .calendar-table-wrap table tbody td p span {
  display: inline-block;
  margin-left: 4px;
  color: #6f7589;
  font-size: 13px;
  font-weight: 500;
  line-height: normal;
}
.wrap .calendar-table-wrap table tbody .opacity p {
  opacity: 0.4;
}
.noti {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: 6px;
}
.noti .blue-badge {
  color: #2774e1;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  background: #e8effe;
  border-radius: 100px;
  padding: 2px 8px;
}
.noti .green-badge {
  color: #29938d;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  background: #d6f1f0;
  border-radius: 100px;
  padding: 2px 8px;
}
.noti .red-badge {
  color: #f04967;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  background: #fde9ee;
  border-radius: 100px;
  padding: 2px 8px;
}
.noti .light-green-badge {
  color: #67a507;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  background: #ebfad4;
  border-radius: 100px;
  padding: 2px 8px;
}
.noti .orange-badge {
  color: #f08100;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  background: #fff2de;
  border-radius: 100px;
  padding: 2px 8px;
}

.noti p {
  color: #373a46;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
}

/* 팝업*/

.popup {
  position: absolute;
  border: 1px solid #ccc;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.popup-content {
  padding: 20px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
