/* 투자업체리스트 Investment-company-list */

.search-filter {
  border-radius: 4px;
  border: 1px solid #caced8;
  width: 100%;
  display: flex;
  position: relative;
  background: #f6f6fa;
}
.search-filter .list {
  height: 52px;
  align-items: center;
  display: flex;
  flex: 1;
}
.search-filter .list p {
  color: #373a46;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  padding: 12px 16px;
  min-width: 135px;
}
.search-filter .list .input-box {
  padding: 8px;
  display: flex;
  flex: 1;
  gap: 0 4px;
  background-color: #fff;
}
.search-filter .list .input-box .search-input-box {
  display: flex;
  width: 100%;
}

.search-filter .list .input-box input {
  padding: 8px 12px;
  border-radius: 4px 0px 0px 4px;
  border: 1px solid #b4b9cc;
  height: 36px;
  outline: none;
  width: 100%;
}
.search-filter .list .input-box .disable {
  border-radius: 4px;
  width: 67%;
}
.search-filter .list .input-box button {
  border-radius: 0px 4px 4px 0px;
  border-top: 1px solid #b4b9cc;
  border-right: 1px solid #b4b9cc;
  border-bottom: 1px solid #b4b9cc;
  height: 36px;
  width: 36px;
  position: relative;
}
.search-filter .list .input-box button img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.search-filter .list .select-box .btn-box {
  display: flex;
  gap: 0 8px;
}
.search-filter .list .select-box .btn-box .search-btn {
  border-radius: 4px;
  background: #263a75;
  width: 58px;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  line-height: normal;
}
.search-filter .list .select-box .btn-box .refresh-btn {
  border-radius: 4px;
  border: 1px solid #b4b9cc;
  padding: 8px;
  width: 36px;
  height: 36px;
}
.btn-list-wrap {
  display: flex;
  gap: 0 8px;
  justify-content: space-between;
  padding: 32px 0 8px 0;
}
.btn-list-wrap .btn-list button {
  border-radius: 4px;
  padding: 7px 12px;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  border: 1px solid rgba(51, 70, 128, 0.8);
  background: rgba(51, 70, 128, 0);
  color: #334680;
}

.btn-list-wrap .btn-list .add-btn {
  border: 1px solid rgba(61, 111, 241, 0.8);
  background: rgba(61, 111, 241, 0);
  color: #3d6ff1;
}
.btn-list-wrap .icon-list button {
  border-radius: 4px;
  border: 1px solid #b4b9cc;
  background: #fff;
  width: 32px;
  height: 32px;
  position: relative;
}
.btn-list-wrap .icon-list button img {
  width: 22px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.table-wrap {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.table-wrap table thead th img {
  margin-left: 4px;
}
.table-wrap table tbody td {
  padding: 9px 8px;
  text-align: center;
  border-bottom: 1px solid #e0e2e9;
  border-right: 1px solid #e0e2e9;
  color: #373a46;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}
.table-wrap table tbody td:first-child {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 108px;
}
.table-wrap table tbody td:last-child {
  border-right: none;
}
.table-wrap table tbody tr:hover {
  background: #fdf2e5;
}
.total-wrap {
  margin-top: 12px;
  display: flex;
  align-items: center;
  gap: 0 20px;
  position: relative;
  white-space: nowrap;
  justify-content: center;
}
.total-wrap .total-box {
  display: flex;
  align-items: center;
  gap: 0 20px;
  position: absolute;
  left: 0;
}
.total-wrap .total {
  display: flex;
  gap: 0 16px;
}
.total-wrap .total p {
  color: #373a46;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.28px;
}
.total-wrap .total p span {
  font-weight: 600;
}
.total-wrap .total .page {
  display: flex;
  gap: 0 10px;
  position: relative;
}
.total-wrap .total .page::after {
  position: absolute;
  content: '';
  width: 1px;
  height: 12px;
  top: 50%;
  left: -8px;
  transform: translateY(-50%);
  background-color: #b4b9cc;
}
.total-wrap .total .page span {
  color: #2774e1;
  position: relative;
}
.total-wrap .total .page span:after {
  position: absolute;
  content: '/';
  right: -8px;
  color: #373a46;
}
.pagination-wrap {
  display: flex;
  justify-content: center;
  gap: 0 4px;
}
.pagination-wrap button {
  width: 32px;
  height: 32px;
  border-radius: 4px;
}
.pagination-wrap .border-btn {
  border: 1px solid #e0e2e9;
}
.pagination-wrap .number-btn.active {
  border: 1px solid #3d6ff1;
  background: rgba(61, 111, 241, 0.04);
}
@media screen and (max-width: 1400px) {
  .pagination-wrap {
    padding-left: 60px;
  }
}
@media screen and (max-width: 1280px) {
  .search-filter .list p {
    min-width: 80px;
    margin-right: 4px;
  }
}

/* 업무보고서용 자료 산출 business-report */
.report-wrap {
  margin-top: 32px;
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}
.report-wrap .report-card {
  height: 200px;
  border-radius: 4px 4px 0 0;
  border: 1px solid #e0e2e9;
  background: #f6f6fa;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.report-wrap .report-card h2 {
  color: #373a46;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
}
.report-wrap .file-box .file {
  margin-top: 20px;
  border-radius: 4px;
  background: #e0e2e9;
  display: inline-block;
  color: #555b6c;
  font-size: 13px;
  font-weight: 500;
  line-height: 14px;
  padding: 4px;
}

.report-wrap .btn-box {
  border-radius: 0px 0px 4px 4px;
  border: 1px solid #e0e2e9;
  border-top: none;
  background: #fff;
  display: flex;
  align-items: center;
  height: 44px;
}

.report-wrap .btn-box button {
  width: 50%;
  color: #373a46;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}
.report-wrap .btn-box .more-btn {
  position: relative;
}
.report-wrap .btn-box .more-btn::after {
  position: absolute;
  content: '';
  width: 1px;
  height: 16px;
  background-color: #e0e2e9;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
@media screen and (max-width: 1700px) {
  .report-wrap {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}
@media screen and (max-width: 1600px) {
  .report-wrap {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

/* 투자 및 융자현황 Investment-and-loan-status */

.loan-status-box {
  margin-top: 8px;
}
.loan-status-box h3 {
  color: #373a46;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}
.status-btn-list-wrap {
  padding: 12px 0 8px 0;
}
.status-btn-list-wrap .status-icon-list {
  display: flex;
  align-items: center;
  gap: 0 8px;
}
.status-btn-list-wrap .status-icon-list .flex {
  display: flex;
  align-items: center;
  gap: 0 8px;
}
.status-btn-list-wrap .status-icon-list .flex p {
  color: #6f7589;
  font-size: 13px;
  font-weight: 500;
  line-height: 14px;
}
.status-btn-list-wrap .status-icon-list .guide-btn {
  border-radius: 4px;
  border: 1px solid #b4b9cc;
  background: #fff;
  width: 113px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 4px;
  color: #373a46;
  font-size: 14px;
  font-weight: 500;
}
.status-btn-list-wrap .status-icon-list .guide-btn img {
  width: unset;
  position: unset;
  transform: translate(0);
}
.status-table-wrap {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.status-table-wrap table tbody td {
  padding: 9px 8px;
  text-align: right;
  border-bottom: 1px solid #e0e2e9;
  border-right: 1px solid #e0e2e9;
  color: #373a46;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}
.status-table-wrap table tbody td:first-child,
.status-table-wrap table tbody td:nth-child(2),
.status-table-wrap table tbody .bgtd {
  background-color: #f6f6fa;
  color: #373a46;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  text-align: center;
}
.status-table-wrap table .border {
  border-bottom: 1px solid #e0e2e9;
  border-top: 1px solid #e0e2e9;
}
.status-table-wrap table .border-r {
  border-right: 1px solid #e0e2e9;
  border-bottom: 1px solid #e0e2e9;
}
