.search-filter .combination-list {
  flex: 0;
}
.combination-select-box select {
  min-width: 200px;
  width: 200px;
}
.combination-select-box .date-select {
  min-width: 200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #b4b9cc;
}
.combination-select-box .date-select p {
  color: #373a46;
  font-size: 14px;
  font-weight: 400;
}
.combination-select-box .date-select .calendar-btn {
  border-left: 1px solid #b4b9cc;
  padding: 8px;
}
.combination-select-box .date-select .calendar-btn img {
  width: 18px;
  height: 18px;
}
.combination-table-wrap {
  text-align: center;
}
.combination-table-wrap tr:last-child {
  background-color: #e9effe;
}
@media screen and (max-width: 1500px) {
  .combination-select-box select {
    min-width: 120px;
    width: fit-content;
  }
  .combination-select-box .date-select {
    min-width: 120px;
  }
}
