.header-wrap {
  display: flex;
  justify-content: space-between;
  padding: 16px 28px 16px 0;
  height: 68px;
  overflow: hidden;
  gap: 0 55px;
  position: relative;
  z-index: 10;
}
.header-wrap .left-header {
  display: flex;
  gap: 0 48px;
  width: 100%;
  width: calc(100% - 448px);
}
.header-wrap .logo-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 280px;
  padding-left: 28px;
}
.header-wrap .logo-box .logo {
  max-width: 125px;
  width: 100%;
}
.header-wrap .logo-box #menu-toggle {
  height: 32px;
}
.header-wrap .logo-box .icon-menu {
  width: 32px;
  height: 32px;
}
.nav-wrap {
  display: flex;
  position: relative;
  overflow: hidden;
  padding-right: 10px;
}
.nav-wrap nav {
  width: 100%;
}
.nav-wrap .nav-bar {
  display: flex;
  gap: 0 36px;
  align-items: baseline;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  white-space: nowrap;
  transition: transform 0.3s ease;
}
.nav-wrap .nav-bar a {
  color: #373a46;
}
.moved-right .nav-bar {
  transform: translateX(-36px);
}
.nav-wrap .nav-bar button {
  color: #373a46;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  gap: 0 8px;
  align-items: baseline;
}
.nav-wrap .nav-bar .star-icon {
  width: 24px;
  height: 24px;
  transform: translateY(4px);
}
.nav-wrap .bg {
  margin-top: 7px;
  width: 50px;
  position: absolute;
  right: 0;
  background: linear-gradient(
    280deg,
    rgba(255, 255, 255, 0.5) 60%,
    rgba(255, 255, 255, 0) 71.51%
  );
}
.nav-wrap .bg button {
  width: 100%;
  display: flex;
  justify-content: end;
}
.nav-wrap .bg .next-btn {
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-color: #fff;
}
.header-wrap .right-header {
  display: flex;
  justify-content: end;
  gap: 0 12px;
  align-items: center;
  white-space: nowrap;
}
.header-wrap .right-header .service-btn {
  display: flex;
  align-items: center;
  gap: 0 16px;
}
.header-wrap .right-header .service-btn button {
  color: #6f7589;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  position: relative;
}
.header-wrap .right-header .service-btn button::after {
  position: absolute;
  content: '';
  width: 1px;
  height: 12px;
  right: -8px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #e0e2e9;
}
.header-wrap .right-header .service-btn button:last-child::after {
  display: none;
}
.header-wrap .right-header .info-box {
  border-radius: 36px;
  border: 1px solid #e0e2e9;
  background: #fff;
  padding-left: 16px;
  display: flex;
  position: relative;
  height: 32px;
}
.header-wrap .right-header .info-box .info {
  display: flex;
  align-items: center;
  padding-right: 90px;
}
.header-wrap .right-header .info-box .info h3 {
  color: #373a46;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-right: 12px;
}
.header-wrap .right-header .info-box .info h3 span {
  font-weight: 800;
}
.header-wrap .right-header .info-box .info .message {
  color: #373a46;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-right: 16px;
  position: relative;
}
.header-wrap .right-header .info-box .info .message::after {
  position: absolute;
  content: '';
  width: 1px;
  height: 12px;
  background: #e0e2e9;
  right: -8px;
  top: 50%;
  transform: translateY(-50%);
}
.header-wrap .right-header .info-box .info .message span {
  color: #3d6ff1;
}
.header-wrap .right-header .info-box .info a {
  color: #373a46;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.header-wrap .right-header .info-box .logout-btn {
  border-radius: 100px;
  background: #6f7589;
  padding: 8px 16px;
  color: #fff;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
}
@media screen and (max-width: 1700px) {
  .header-wrap .left-header {
    width: 72%;
  }
}
@media screen and (max-width: 1500px) {
  .header-wrap .left-header {
    width: 65%;
  }
}

@media screen and (max-width: 1280px) {
  .header-wrap .logo-box {
    min-width: 220px;
  }
  .nav-wrap .nav-bar {
    font-size: 16px;
  }
  .nav-wrap .nav-bar button {
    font-size: 16px;
  }
  header .right-header .service-btn button {
    font-size: 13px;
  }
}
