.search-filter {
  border-radius: 4px;
  border: 1px solid #caced8;
  width: 100%;
  display: flex;
  position: relative;
  background: #f6f6fa;
}
.search-filter .list {
  align-items: center;
  display: flex;
  flex: 1;
}
.search-filter .flex-7 {
  flex: 0.7 !important;
}
.search-filter .flex-half {
  flex: 0.5;
}
.search-filter .base-date {
  flex: 0;
}
.search-filter .flex-unset {
  flex: unset;
}
.search-filter .list p {
  color: #373a46;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  padding: 12px 16px;
  width: 135px;
  white-space: nowrap;
}
.search-filter .list .input-box {
  padding: 8px;
  display: flex;
  flex: 1;
  gap: 0 2px;
  background-color: #fff;
}
.search-filter .list .input-box-h {
  height: 100%;
}
.search-filter .list .input-box .search-input-box {
  display: flex;
  width: 100%;
}
.search-filter .list .input-box input {
  padding: 8px 12px;
  border-radius: 4px 0px 0px 4px;
  border: 1px solid #b4b9cc;
  width: 100%;
}
.search-filter .list .input-box .disable {
  border-radius: 4px;
  width: 67%;
}
.search-filter .list .input-box .icon-btn {
  border-radius: 0px 4px 4px 0px;
  border-top: 1px solid #b4b9cc;
  border-right: 1px solid #b4b9cc;
  border-bottom: 1px solid #b4b9cc;
  width: 32px;
  padding: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.radius {
  border-radius: 0 4px 4px 0;
}

.btn-box {
  display: flex;
  align-items: center;
  gap: 0 8px;
}
.btn-box .search-btn {
  border-radius: 4px;
  background: #263a75;
  width: 58px;
  height: 32px;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
}
.btn-box .refresh-btn {
  border-radius: 4px;
  border: 1px solid #b4b9cc;
  padding: 8px;
  width: 32px;
  height: 32px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1530px) {
  .search-filter .list p {
    width: 100px;
    padding: 12px 8px;
  }
  .search-filter .list .input-box .icon-btn img {
    width: 13px;
    height: 13px;
  }
}

@media screen and (max-width: 1280px) {
  .search-filter .list p {
    width: 80px;
    margin-right: 4px;
    font-size: 12px;
  }
  .search-filter .list .input-box .icon-btn {
    padding: 4px;
  }
}
