.search-filter {
  border-radius: 4px;
  border: 1px solid #caced8;
  width: 100%;
  display: flex;
  position: relative;
  background: #f6f6fa;
}
.search-filter .list {
  height: 52px;
  align-items: center;
  display: flex;
  flex: 1;
}
.search-filter .list p {
  color: #373a46;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  padding: 12px 16px;
  min-width: 135px;
  white-space: nowrap;
}
.search-filter .list .input-box {
  padding: 8px;
  display: flex;
  flex: 1;
  gap: 0 4px;
  background-color: #fff;
}
.search-filter .list .input-box .search-input-box {
  display: flex;
  width: 100%;
}
.search-filter .list .input-box input {
  padding: 8px 12px;
  border-radius: 4px 0px 0px 4px;
  border: 1px solid #b4b9cc;
  height: 36px;
  outline: none;
  width: 100%;
}
.search-filter .list .input-box .disable {
  border-radius: 4px;
  width: 67%;
}
.search-filter .list .input-box button {
  border-radius: 0px 4px 4px 0px;
  border-top: 1px solid #b4b9cc;
  border-right: 1px solid #b4b9cc;
  border-bottom: 1px solid #b4b9cc;
  height: 36px;
  width: 36px;
  position: relative;
}
.search-filter .list .input-box button img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.search-filter .list .select-box .btn-box {
  display: flex;
  gap: 0 8px;
}
.search-filter .list .select-box .btn-box .search-btn {
  border-radius: 4px;
  background: #263a75;
  width: 58px;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  line-height: normal;
}
.search-filter .list .select-box .btn-box .refresh-btn {
  border-radius: 4px;
  border: 1px solid #b4b9cc;
  padding: 8px;
  width: 36px;
  height: 36px;
}
