.modal .btn-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 8px;
}
.btn-list button {
  border-radius: 4px;
  padding: 7px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  border: 1px solid rgba(51, 70, 128, 0.8);
  background: rgba(51, 70, 128, 0);
  color: #334680;
}
.code-flex {
  display: flex;
  gap: 0 8px;
}
.code-box {
  display: flex;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #caced8;
  background: #fff;
  margin: 24px 0;
  height: 48px;
}
.code-box p {
  border-radius: 4px 0px 0px 4px;
  background: #f6f6fa;
  padding: 0 16px;
  width: 135px;
  height: 100%;
  color: #373a46;
  font-size: 14px;
  font-weight: 600;
  line-height: 46px;
}
.code-box .padding {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 8px;
}
.code-box .padding input {
  border-radius: 4px;
}
.convert-flex {
  display: flex;
  align-items: center;
}
.convert-flex .flex {
  display: flex;
  align-items: center;
  gap: 0 8px;
  margin-left: 8px;
}
.find-btn-box button {
  border-radius: 4px;
  background: #263a75;
  padding: 8px 16px;
  color: #fff;
}
.convert-table-wrap table tr td {
  text-align: center;
  max-width: 148px;
}
.convert-table-wrap table tr:first-child td {
  background: #f6f6fa;
  font-weight: 600;
  height: 44px;
}
.check-btn-box {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  gap: 0 8px;
}
.check-btn-box button {
  border-radius: 4px;
  border: 1px solid #b4b9cc;
  padding: 8px 20px;
  color: #263a75;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
}
.check-btn-box .bg-btn {
  background: #263a75;
  color: #fff;
  border: none;
}
