.check-btn-box {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  gap: 0 8px;
}
.check-btn-box button {
  border-radius: 4px;
  border: 1px solid #b4b9cc;
  padding: 8px 20px;
  color: #263a75;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
}
.check-btn-box .bg-btn {
  background: #263a75;
  color: #fff;
  border: none;
}
.copy-table-wrap {
  margin-top: 24px;
}
.copy-table-wrap table tbody td {
  height: 48px;
}
.copy-table-wrap table tbody .bg {
  background-color: #f6f6fa;
  font-weight: 600;
}
.copy-table-wrap table tbody tr:hover {
  background: #fff;
}
.copy-table-wrap table tbody tr.selected {
  background: #fff;
}
.copy-table-wrap .input-box {
  display: flex;
  gap: 0 4px;
  background-color: #fff;
  height: 100%;
}
.copy-table-wrap .input-box .search-input-box {
  display: flex;
}
.copy-table-wrap .input-box input {
  padding: 8px 12px;
  border-radius: 4px 0px 0px 4px;
  border: 1px solid #b4b9cc;
}
.copy-table-wrap .input-box .disable {
  border-radius: 4px;
}
.copy-table-wrap .input-box .icon-btn {
  border-radius: 0px 4px 4px 0px;
  border-top: 1px solid #b4b9cc;
  border-right: 1px solid #b4b9cc;
  border-bottom: 1px solid #b4b9cc;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.copy-table-wrap table tbody .flex {
  display: flex;
  align-items: center;
  gap: 0 8px;
}
.copy-table-wrap .date-input-boxs {
  display: flex;
  gap: 0 2px;
  height: 32px;
}
.copy-table-wrap .date-input-boxs input {
  padding: 8px 12px;
  border-radius: 4px;
}
.copy-table-wrap .date-input-btn {
  border-radius: 4px;
  display: flex;
  height: 32px;
}
.copy-table-wrap .date-input-btn button {
  color: #373a46;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  padding: 9px 12px;
}
.copy-table-wrap .date-input-btn button:first-child {
  border-radius: 4px 0px 0px 4px;
  border-top: 1px solid #b4b9cc;
  border-bottom: 1px solid #b4b9cc;
  border-right: 0.5px solid #b4b9cc;
  border-left: 1px solid #b4b9cc;
}
.copy-table-wrap .date-input-btn button:nth-child(2) {
  border-top: 1px solid #b4b9cc;
  border-bottom: 1px solid #b4b9cc;
  border-right: 0.5px solid #b4b9cc;
  border-left: 0.5px solid #b4b9cc;
}
.copy-table-wrap .date-input-btn button:last-child {
  border-top: 1px solid #b4b9cc;
  border-bottom: 1px solid #b4b9cc;
  border-right: 1px solid #b4b9cc;
  border-left: 0.5px solid #b4b9cc;
  border-radius: 0px 4px 4px 0px;
}
.copy-table-wrap .date-input-btn button.active {
  color: #2774e1;
  border: 1px solid rgba(39, 116, 225, 0.6);
  background: #edf3fd;
}
