.edit-btn {
  border-radius: 4px;
  border: 1px solid #b4b9cc;
  background: #fff;
  padding: 4px 12px;
  display: flex;
  gap: 0 4px;
  align-items: center;
  margin-bottom: 20px;
}
.edit-btn .arrow-icon {
  margin-top: -2px;
}
.bold-blue {
  color: #2774e1;
  font-weight: 600;
}

.blue-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #2774e1;
  margin: 0 auto;
}
.electronic-approval-table-wrap {
  margin-top: 12px;
}
.electronic-approval-table-wrap table tbody tr:hover {
  background: #fff;
}
.electronic-approval-table-wrap table tbody tr.selected {
  background: #fff;
}
.electronic-approval-table-wrap table tbody tr td {
  text-align: center;
  font-weight: 600;
}
.electronic-approval-table-wrap table tbody tr .report {
  position: relative;
}
.electronic-approval-table-wrap table tbody tr .report::after {
  position: absolute;
  content: '*';
  color: #2774e1;
}
.electronic-approval-table-wrap .dosc {
  color: #373a46;
  margin-top: 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.option-dosc {
  margin-top: 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.option-table-wrap {
  margin-top: 16px;
}
.option-table-wrap table tbody tr:hover {
  background: #fff;
}
.option-table-wrap table tbody tr.selected {
  background: #fff;
}
.option-table-wrap table tbody td {
  text-align: center;
  height: 40px;
}
.option-table-wrap table tbody tr:first-child td {
  background-color: #f6f6fa;
  font-weight: 600;
}
