.nav-modal-content {
  max-width: 1100px;
  width: 100%;
  max-height: 600px;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  background: #fff;
}
.nav-modal-content .top {
  border-radius: 8px 8px 0px 0px;
  background: #334680;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 24px;
}
.nav-modal-content .top .modal-close {
  padding: 0;
}
.nav-modal-content .top ul {
  display: flex;
  gap: 0 24px;
  padding: 24px 0 0 40px;
}
.nav-modal-content .top ul li {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.7);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  cursor: pointer;
  padding-bottom: 16px;
}
.nav-modal-content .top ul li.active,
.nav-modal-content .top ul li:hover {
  color: rgba(255, 255, 255, 255);
  background-image: url(../../images/icon-nav-active.svg);
  background-repeat: no-repeat;
  background-position: bottom -1px center;
}

.nav-modal-content .list-box {
  padding: 20px 40px;
  display: grid;
  gap: 36px;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.nav-modal-content .list-box .list {
  height: fit-content;
}

.nav-modal-content .list p {
  color: #373a46;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  padding: 13px 0;
  border-bottom: 1.5px solid var(--Main-1, #2774e1);
}

.nav-modal-content .list ul li {
  color: #373a46;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  position: relative;
  border-bottom: 1px solid #e0e2e9;
  cursor: pointer;
}
.nav-modal-content .list ul li:after {
  position: absolute;
  content: '';
  left: 0;
  top: 20px;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background-color: #b4b9cc;
}
.nav-modal-content .list ul li .click-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-modal-content .list ul li .click-menu a:hover {
  background-color: #fff;
}
.nav-modal-content .list ul li a .total {
  color: var(--Text-1, #373a46);
  border-bottom: none;
  font-size: 15px;
  font-weight: 500;
  line-height: 28px;
  margin-left: 20px;
  padding: 0;
}
.nav-modal-content .list ul li a .total span {
  color: #2774e1;
}
.nav-modal-content .list ul li .under-menu {
  background-color: #f6f6fa;
  padding-left: 12px;
  border-top: 1px solid #e0e2e9;
  position: relative;
  display: none;
}

.nav-modal-content .list ul li .under-menu::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 2px;
  left: 0;
  background-color: #f6f6fa;
}
.nav-modal-content .list ul li .under-menu li {
  color: #555b6c;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  padding: 4px 0 4px 12px;
  border-bottom: none;
}
.nav-modal-content .list ul li .under-menu li:hover {
  background-color: #f6f6fa;
}
.nav-modal-content .list ul li .under-menu li:after {
  width: 4px;
  height: 2px;
  top: 17px;
  border-radius: 0;
}
.nav-modal-content .list ul li a {
  display: flex;
  align-items: center;
  padding: 8px 0 8px 12px;
}
.nav-modal-content .list ul li a:hover {
  background: #e8effe;
  color: #334680;
}
